<h1> View Building </h1>
@* = '@Url.Action("GetTickets", "BuildingManager")'*@
@section Scripts2{
    <script src="~/js/viewTicketsbundle.min.js"></script>
    <body>
        <label>Manager ID:</label>
        <input type="number" id="managerId" name="managerId" placeholder="Id" />


        <button type="button" id="btnView" name="btnView" data-name="ViewButton" onclick="ViewBuilding()"> View Tickets </button>

        <label id="BuildingId" name="BuildingId">  </label>
        <label id="BuildingNumber" name="BuildingNumber">  </label>
        <label id="BuildingCity" name="BuildingCity">  </label>


    </body>
    <script>
        function ViewBuilding() {
        debugger
        var id = $('#managerId').val();
        $.ajax({
            url: '@Url.Action("GetBuilding", "BuildingManager")' + "?managerID=" + id,
            type: 'GET',
            success: OnSuccess
        });
        }
        function OnSuccess(response) {
            var building = response;
            $('#BuildingId').html(building.Id);
            $('#BuildingNumber').html(building.Number);
            $('#BuildingCity').html(building.city);
        }
    </script>
}
